{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "google",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["unused-imports"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "quotes": ["error", "double", { "avoidEscape": true }],
    "object-curly-spacing": ["error", "always"],
    "require-jsdoc": 0,
    "semi": 0,
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
        "error",
        { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "indent": "off",
    "no-unused-vars": "off",
    "comma-dangle": ["error", "never"],
    "camelcase": "off",
    "prefer-const": "off",
    "max-len": ["error", { "code": 180 }]
  }
}
