node_modules/
typechain/
artifacts/
cache/
dist/
.secret

circuits/update_state_verifier_js/*
!circuits/update_state_verifier_js/proof.json
!circuits/update_state_verifier_js/public.json
!circuits/update_state_verifier_js/testInfo.json

circuits/withdraw_signature_verifier_js/*
!circuits/withdraw_signature_verifier_js/proof.json

circuits/ir_log/
circuits/log_substitution.json
yarn-error.log
package-lock.json
yarn.lock
*.key
*.sol.bak
