dist/
.secret
yarn-error.log
package-lock.json
yarn.lock
*.key
*.sol.bak
node_modules
.env
coverage
coverage.json
typechain
typechain-types
verifier.sol

# Hardhat files
cache
artifacts/**/*.dbg.json
artifacts/build-info
scripts/*.js
circuits/*_js
circuits/*.ptau
circuits/circuit_final.zkey

contracts/main_*.sol
