dist/
.secret
yarn-error.log
package-lock.json
yarn.lock
*.key
*.sol.bak
node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
test/*.js
scripts/*.js
circuits/*_js
circuits/*.ptau
circuits/circuit_final.zkey
