# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Eigen ZKZRU CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node Dependencies
        id: cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{runner.OS}}-npm-caches-${{ hashFiles('package-lock.json') }}
      - name: Install Dependencies
        run: npm install --legacy-peer-deps
      - name: Compile contract
        run: npx hardhat compile
      - name: Download universal key
        run: curl https://universal-setup.ams3.digitaloceanspaces.com/setup_2^20.key -o ${{ github.workspace }}/circuits/setup_2^20.key
      - name: Download EigenZKit
        run: wget https://github.com/ieigen/EigenZKit/releases/download/v0.0.1/zkit-x86_64-unknown-linux-gnu.tar.gz && tar -zxvf zkit-x86_64-unknown-linux-gnu.tar.gz
      - name: Generate .env
        run: touch .env && echo -e "ZKIT=${{ github.workspace }}/zkit\nCIRCUIT_PATH=${{ github.workspace }}/circuits/\nTEST_PATH=${{ github.workspace }}/test/\nNODE_ENV=development" > .env && cat .env
      - name: Start hardhat node
        run: nohup npx hardhat node & 
      - name: Start test
        run: yarn test
